In [2]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

pop = pd.read_excel('gapminder_population.xlsx', index_col=0)
fert = pd.read_csv('gapminder_total_fertility.csv', index_col=0)
cont = pd.read_csv('continents.csv', sep=';')

In [6]:
pop.head()

,Total population,1800.0,1810.0,1820.0,1830.0,1840.0,1850.0,1860.0,1870.0,1880.0,...,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0
1,Afghanistan,3280000.0,3280000.0,3323519.0,3448982.0,3625022.0,3810047.0,3973968.0,4169690.0,4419695.0,...,25183615.0,25877544.0,26528741.0,27207291.0,27962207.0,28809167.0,29726803.0,30682500.0,31627506.0,32526562.0
3,Albania,410445.0,423591.0,438671.0,457234.0,478227.0,506889.0,552800.0,610036.0,672544.0,...,3050741.0,3010849.0,2968026.0,2929886.0,2901883.0,2886010.0,2880667.0,2883281.0,2889676.0,2896679.0
4,Algeria,2503218.0,2595056.0,2713079.0,2880355.0,3082721.0,3299305.0,3536468.0,3811028.0,4143163.0,...,33749328.0,34261971.0,34811059.0,35401790.0,36036159.0,36717132.0,37439427.0,38186135.0,38934334.0,39666519.0
5,American Samoa,8170.0,8156.0,8142.0,8128.0,8114.0,7958.0,7564.0,7057.0,6582.0,...,58648.0,57904.0,57031.0,56226.0,55636.0,55316.0,55227.0,55302.0,55434.0,55538.0
6,Andorra,2654.0,2654.0,2700.0,2835.0,3026.0,3230.0,3436.0,3654.0,3885.0,...,83373.0,84878.0,85616.0,85474.0,84419.0,82326.0,79316.0,75902.0,72786.0,70473.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,Virgin Islands (U.S.),40000.0,40000.0,40000.0,40000.0,40000.0,38995.0,38020.0,36892.0,34553.0,...,107477.0,107166.0,106859.0,106590.0,106382.0,106244.0,106174.0,106166.0,106208.0,106291.0
254,Yemen,2593000.0,2593000.0,2605438.0,2640779.0,2689275.0,2738662.0,2796168.0,2866728.0,2960773.0,...,21093973.0,21701105.0,22322699.0,22954226.0,23591972.0,24234940.0,24882792.0,25533217.0,26183676.0,26832215.0
256,Zambia,747000.0,747000.0,747000.0,747000.0,747000.0,747000.0,746052.0,745105.0,744157.0,...,12381509.0,12738676.0,13114579.0,13507849.0,13917439.0,14343526.0,14786581.0,15246086.0,15721343.0,16211767.0
257,Zimbabwe,1085814.0,1085814.0,1106634.0,1167259.0,1253642.0,1346417.0,1444385.0,1549480.0,1661683.0,...,13127942.0,13297798.0,13495462.0,13720997.0,13973897.0,14255592.0,14565482.0,14898092.0,15245855.0,15602751.0
259,South Sudan,1027378.0,1041076.0,1063732.0,1103246.0,1153401.0,1205835.0,1329906.0,1462765.0,1604755.0,...,8445659.0,8815495.0,9208598.0,9623176.0,10056475.0,10510122.0,10980623.0,11453810.0,11911184.0,12339812.0

In [4]:
fert.head()

,Total fertility rate,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,...,6.70,6.46,6.20,5.93,5.66,5.40,5.14,4.90,4.68,4.47
2,Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,...,1.85,1.80,1.76,1.74,1.74,1.75,1.76,1.77,1.78,1.78
4,Algeria,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,...,2.58,2.66,2.73,2.78,2.82,2.83,2.82,2.80,2.76,2.71

In [5]:
cont.head()

  continent   country
0    Africa   Algeria
1    Africa    Angola
2    Africa     Benin
3    Africa  Botswana
4    Africa   Burkina

Cleaning the data

In [9]:
pop = (pop.dropna() / 1000_000).round(1)

TypeError: unsupported operand type(s) for /: 'str' and 'int'